:root {
   --primary-color: #0074D9;
   --secundary-color: #FFD700;
   --blue: #001F3F;
   --yellow: #FFDB58;
   --white: #f4f4f4;
   --black: #232527;
   --title-font: 'Peanut Butter', 'Arial', Helvetica; 
}

@font-face {
   font-family: 'Peanut Butter';
   src: url(../fonts/Peanut\ Butter.otf); format:('opentype');
   font-weight: normal;
}

body {
   position: relative;
}

main {
   height: 100vh;
}

header {
   background-color: var(--white);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 1.5rem;
   box-shadow: 0px 2px 10px 0px var(--black);
}

h1 {
   font-family: var(--title-font);
   font-size: 3rem;
   letter-spacing: 0.7rem;
   color: var(--yellow);
   text-shadow: 2px 2px 0px var(--black);
}

#circle {
   width: 7px;
   height: 7px;
   background-color: #4caf50;
   border-radius: 50%;
   display: inline-block;
   cursor: pointer;
   margin-left: 0.5rem;
}

nav a {
   font-size: 1.2rem;
   margin: 0 0.5rem;
   padding: 0.75rem;
   transition: ease-in-out 300ms;
   position: relative;
}

nav a:hover::after {
   width: 80%;
}

nav a::after {
   content: '';
   display: block;
   width: 0%;
   height: 3px;
   background-color: var(--blue);
   border-radius: 0.5rem;
   position: absolute;
   bottom: 5px;
   left: 10px;
   transition: ease-in-out 300ms;
}

nav a:hover {
   color: var(--primary-color);
}

h3 {
   color: var(--blue);
}

#person {
   color: var(--primary-color);
}


#container-products {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 5rem;
   padding: 0 3rem;
}

.card {
   width: 350px;
   max-height: 450px;
   text-align: center;
   margin-top: 2rem;
   padding: 1.5rem 1rem;
   background-color: #dfdede;
   border-radius: 6px;
}

.card img {
   width: 100%;
   min-height: 240px;
   max-height: 240px;
   object-fit: cover;
   object-position: center center;
   border-radius: 3px;
}

.details {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 1rem 3rem;
   font-size: 1rem;
   font-weight: bold;
}

.quantidade-group {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 7rem;
}

.quantidade-group i{
   background-color: var(--primary-color);
   border-radius: 50%;
   cursor: pointer;
   color: var(--white);
   padding: 5px;
   font-size: 10px;
}

.quantidade-group .number {
   font-size: 1.2rem;
   font-weight: bold;
}

#cart-btn {
   background-color: var(--blue);
   color: var(--white);
   width: 30%;
   border-radius: 6px;
   padding: 1rem;
   margin-top: 0.9rem;
   transition: ease-in-out 300ms;
}

#cart-btn:hover {
   background-color: hsl(210, 100%, 22%);
}

